@model IEnumerable<TMDTNiViCi.Model.EF.Product>

@{
    var order = 0;
    var prodStatus = 1; // 1: Hiển thị, 2: Ẩn, 3: Xóa, 4: Liên hệ
}
<div class="adm__wpl__prod-numb-area">
    <p class="prod-numb-search-filter" style="display: none;" data-numbProdSatisFilterCond="@ViewData["VDNumbProdSatisFilterCond"]"></p>
</div>
<table class="adm__wpl__table-contain-products">
    <thead>
        <tr>
            <th class="tcp__thead__order"> STT </th>
            <th class="tcp__thead__prod-image"> Hình </th>
            <th class="tcp__thead__prod-name" style="width: 22%;"> Tên </th>
            <th class="tcp__thead__original-price"> Giá nhập </th>
            <th class="tcp__thead__price"> Giá bán </th>
            <th class="tcp__thead__promotional-price"> Giá khuyến mãi</th>
            <th class="tcp__thead__date-created"> Ngày tạo </th>
            <th class="tcp__thead__update-day"> Ngày cập nhật </th>
            <th class="tcp__thead__status"> Trạng thái </th>
            <th class="tcp__thead__tasks"> Tác vụ </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            order += 1;
            <tr>
                <td> <span class="adm__tcp__prod-order"> @prod.ID  </span> </td>
                <td>
                    <div class="adm__tcp__image-container">
                        <img src="@prod.Image" class="adm__ic__main-image" />
                    </div>
                </td>
                <td width="250px">
                    <span class="adm__tcp__product-name"> @prod.Name </span>
                </td>
                <td>
                    <span class="adm__tcp__original-price money"> @prod.OriginalPrice </span>
                </td>
                <td>
                    <span class="adm__tcp__price is-number money"> @prod.Price </span>
                </td>
                <td>
                    <span class="adm__tcp__promotional-price money"> @prod.PromotionPrice </span>
                </td>
                <td>
                    <span class="adm__tcp__date-created datetime"> @prod.CreatedDate </span>
                </td>
                <td>
                    <span class="adm__tcp__update-day datetime"> @prod.UpdatedDate </span>
                </td>
                <td>
                    <div class="adm__tcp__prod-status">
                        @if (prod.Status == 1)
                        {
                            prodStatus = 1;
                            <button type="button" class="ps__btn-status btn-primary disable-btn-default-bootstrap"> Hiển thị </button>
                        }
                        else if (prod.Status == 2)
                        {
                            prodStatus = 2;
                            <button type="button" class="ps__btn-status btn-warning disable-btn-default-bootstrap"> Ẩn </button>
                        }
                        else if (prod.Status == 3)
                        {
                            prodStatus = 3;
                            <button type="button" class="ps__btn-status btn-danger disable-btn-default-bootstrap"> Xóa</button>
                        }
                        else
                        {
                            prodStatus = 4;
                            <button type="button" class="ps__btn-status btn-primary disable-btn-default-bootstrap"> Liên hệ </button>
                        }
                    </div>
                </td>
                <td>
                    <div class="adm__tcp__action">
                        <div class="adm__activity-view">
                            <button type="button" class="aav__btn-view disable-btn-default-bootstrap padding-tb-lf-5-20" data-typeAc-prodID="s+@prod.ID.ToString()" data-placement="bottom" title="Xem">
                                <span class="aav__btn-icon"> <i class="far fa-eye"></i> </span>
                            </button>
                            @*onclick="activeModalShowPDetail()"*@
                        </div>
                        <div class="adm__repair-operations">
                            <button type="button" class="aav__btn-edit disable-btn-default-bootstrap padding-tb-lf-5-20" data-toggle="tooltip" data-placement="bottom" title="Sửa">
                                <a href="/Admin/Product/ProductUpdates/@prod.ID" style="color: black;"> <span class="aav__btn__icon"><i class="far fa-edit"></i></span>  </a>
                            </button>
                        </div>
                        <div class="adm__delete-operation">
                            <button type="button" class="aav__btn-delete disable-btn-default-bootstrap padding-tb-lf-5-20" data-typeAc-prodID="d+@prod.ID.ToString()" data-status="@prodStatus" data-toggle="tooltip" data-placement="bottom" title="Xóa">
                                <span class="aav__btn__icon"> <i class="far fa-trash-alt"></i> </span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

